body {
    background-image: url('https://i.pinimg.com/originals/2e/b3/41/2eb3410d12a4e534b440403e029e9e33.jpg'); /* Reemplaza esto con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Asegura que el cuerpo tenga al menos la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
    display: flex; /* Permite usar flexbox para centrar contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    font-family: Arial, sans-serif;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

#content, #video-container, #flowers-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
}

#video-container {
    width: 100%;
    height: 100%;
    background-color: black;
}

#flowers-container h1 {
    color: #ff69b4;
    font-size: 2em;
    margin: 20px 0;
}

h1 {
    font-size: 2em;
    color: #ff69b4;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

#continue-btn {
    display: none;
    margin-top: 20px;
}

img {
    width: 150px;
    margin: 10px;
}
